body {
  font-family: "Arial";
  color: #333;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
a {
  color: #aaaaff;
}
a.fade_in_background {
  text-decoration: none;

  transition: ease-in 0.35s;
}
a.fade_in_background:hover {
  background: #aaaaff;
  color: #fff;
  transition: all 0.55s;
}

a[class^="slide"] {
  text-decoration: none;
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}
a[class^="slide"]::after {
  content: attr(inner-text);
  background: #aaaaff;
  color: #fff;
  position: absolute;
  display: block;
  text-align: center;
  transition: all 0.95s;
}

a[class^="slide"]:hover {
  border-bottom: 0.0625em solid #aaaaff;
}
a[class^="slide"]:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}


a.slide_from_left::after {
  top: 0;
  right: 100%;
  left: -100%;
}
a.slide_from_right::after {
  top: 0;
  right: -100%;
  left: 100%;
}
a.slide_from_top::after {
  top: -100%;
  bottom: 100%;
}
a.slide_from_bottom::after {
  top: 100%;
  bottom: -100%;
}
a.fade_in_underline {
  text-decoration: none;
  border-bottom: 0.125em solid #fff;
  transition: all 0.85s;
}
a.fade_in_underline:hover {
  border-bottom: 0.125em solid #aaaaff;
  transition: all 0.85s;
}
a[class^='underline'] {
  text-decoration: none;
  position: relative;
}
a[class^='underline']::after {
  content: '';
  position: absolute;
  top: 100%;
  border-bottom: 0.125em solid #aaaaff;
  transition: all 0.35s;
}
a[class^='underline']:hover::after {
  transition: all 0.35s;
}
a.underline_from_left::after {
  left: 0;
  right: 100%;
}
a.underline_from_left:hover::after {
  right: 0;
}
a.underline_from_right::after {
  right: 0;
  left: 100%;
}
a.underline_from_right:hover::after {
  left: 0;
}
a.underline_from_center::after {
  right: 50%;
  left: 50%;
}
a.underline_from_center:hover::after {
  right: 0;
  left: 0;
}

a.box_border {
  text-decoration: none;
  
}
a.box_border:hover {
  
  border: 0.15em solid #aaddff;
  transition: ease-in 0.25s;
}


